.book-list-container {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
  }

  .search-bar {
    margin-bottom: 20px; /* Add space below the search bar */
}
  
  .scrollable-list {
    max-height: 300px; /* Adjust max height as needed */
    overflow-y: auto; /* Enable vertical scrolling */
    border: 1px solid #ddd;
    padding: 10px;
  }
  
  .book-item {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .btn-container {
    margin-top: 5px;
  }
  
  .btn {
    margin-right: 5px;    
    border: 1px solid #3d3d3d; /* Default button border color */
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition for hover effect */
  }

.btn:hover {
    background-color: #70757a; /* Background color on hover */
    color: #000; /* Text color on hover */
    border-color: #70757a; /* Border color on hover */
    outline: none; /* Remove default blue outline */
  }
  