.login-btn {
    border: 1px solid #3d3d3d; /* Default button border color */
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition for hover effect */
  }
  
  .login-btn:hover {
    background-color: #70757a; /* Background color on hover */
    color: #000; /* Text color on hover */
    border-color: #70757a; /* Border color on hover */
    outline: none; /* Remove default blue outline */
  }

  .not-member-link {
    color: #e51f1f; /* Grey text color */
    text-decoration: none; /* Remove underline */
    font-weight: bold; /* Bold text */
    transition: color 0.3s ease; /* Smooth transition for color change */
  }
  
  .not-member-link:hover {
    color: #bb5757; /* Darker grey text color on hover */
  }